name: Build and test
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies with yarn
        run: yarn install

      - name: Run linting
        run: yarn lint

      - name: Set up QEMU
        run: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        run: docker/setup-buildx-action@v2

      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          tags: |
            pjee4212/webapp:latest

